*
{
	wallpaper-path: url("/home/user/dotfiles/wallpapers/KakaoTalk_20260908_000710063_02.jpg", height);
	primary: #81d4dd;
	on-primary: #00363b;
	secondary: #b1cbce;
	on-secondary: #1c3437;
	surface: #0e1415;
	on-surface: #dee4e4;
	tertiary: #b8c6ea;
	on-tertiary: #22304c;
	outline: #899294;
}
