*
{
	wallpaper-path: url("/home/user/dotfiles/wallpapers/Hippocampal-Pain.png", height);
	primary: #dcb9f8;
	on-primary: #3f2358;
	secondary: #d1c1d9;
	on-secondary: #372c3f;
	surface: #151217;
	on-surface: #e8e0e8;
	tertiary: #f3b7bc;
	on-tertiary: #4c252a;
	outline: #968e98;
}
