*
{
	wallpaper-path: url("/home/user/dotfiles/wallpapers/KakaoTalk_20260908_000710063_08.jpg", height);
	primary: #a4c9fe;
	on-primary: #00315d;
	secondary: #bcc7db;
	on-secondary: #263141;
	surface: #111318;
	on-surface: #e1e2e9;
	tertiary: #d9bde3;
	on-tertiary: #3d2946;
	outline: #8d9199;
}
