@import "colors.css";

*
{

  border: none;
  border-radius: 0;
  font-family: "JuliaMono Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar
{
  background-color: transparent;
  color: transparent;
  border-bottom: transparent;
}

#workspaces,
#clock,
#pulseaudio,
#cpu,
#memory,
#tray,
#idle_inhibitor,
#privacy,
#battery,
#network,
#mpris,
#custom-power
{
  background-color: @on_secondary;
  color: @on_surface;
  padding: 2px 10px;
  margin: 4px 2px;
  border-radius: 6px;
}

#workspaces button
{
  padding: 0 5px;
  color: @on_surface;
}

#workspaces button.active
{
  color: @on_primary;
  background-color: @primary;
  border-radius: 4px;
}

#cpu
{
  min-width: 65px;
}

#memory
{
  min-width: 80px;
}

